<!--
	Generated template for the HomePage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->

<ion-header>
	<ion-navbar>
		<!-- <ion-buttons start>
			<button ion-button icon-only color="danger" (click)="logout()">
				<ion-icon name="log-out"></ion-icon>
			</button>
		</ion-buttons> -->
		<ion-title>Main Menu</ion-title>
	</ion-navbar>
</ion-header>

<!-- <sidemenu></sidemenu> -->


<ion-content padding>
	<ion-refresher (ionRefresh)="refresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
			pullingText="Pull to refresh"
			refreshingSpinner="circles"
			refreshingText="Refreshing..."
		></ion-refresher-content>
	</ion-refresher>
	
	<ion-list>
		<ion-grid>
			<ion-row class="profile">
				<ion-col col-12 col-sm-6 col-md-3>
					<div style="width: 12em; height: 12em;" [style.background-image]="this.util.getLocalURLImage(user.photo)" class="img-profile"></div>
				</ion-col>
				<ion-col col-12 col-sm-6 col-md-9>
					<div class="name-profile">{{ user.fullname }}</div>
					<div class="position-profile">{{ position.name }}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
			
	</ion-list>
	<ion-list *ngFor="let list of menu.data;" >
		<div *ngIf="this.auth.hasAccess(list.access)">
			<h3>{{ list.group_name }}</h3>
			<ion-grid>
				<ion-row>
					<ion-col *ngFor="let list2 of list.content;" col-12 col-sm-6 col-md-3>
						<button ion-button color="light" full *ngIf="this.auth.hasAccess(list2.access)" (click)="this.open(list2.page)">{{ list2.name }}</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>


		
		
	</ion-list>
	
	<ion-list>
		<div *ngIf="this.auth.hasAccess('beta')">
			<h3>Test</h3>
			<ion-grid>
				<ion-row>
					<ion-col col-12 col-sm-6 col-md-3>
						<button ion-button color="light" full (click)="testNotif()">Test Notification</button>
					</ion-col>
					<ion-col col-12 col-sm-6 col-md-3>
						<button ion-button color="light" full (click)="testNotifDelay(1)">Test Notification Delay 1 Minutes</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-list>

	<ion-list>
		<ion-grid>
			<ion-row>
				<!-- <ion-col>
					<button ion-button color="primary" full (click)="testNotif()">Trigger Notification</button>
				</ion-col> -->
				<ion-col>
					<button ion-button color="danger" full (click)="onLogout()">Logout</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
</ion-content>

