<!--
  Generated template for the DeliveryTakenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header>

	<ion-navbar>

	    <ion-title>Daftar Tugas Pengiriman</ion-title>
	    <ion-buttons end>
			<button ion-button icon-only color="dark" (click)="this.filter()">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content padding>
	<ion-refresher (ionRefresh)="refresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
			pullingText="Pull to refresh"
			refreshingSpinner="circles"
			refreshingText="Refreshing..."
		></ion-refresher-content>
	</ion-refresher>
	<ion-grid *ngIf="this.total > 0">
		<ion-row>
			<ion-col col-sm-4 col-3>
				<button ion-button full icon-only color="light" [disabled]="!this.enabledPrevBtn" (click)="prevPage()"><ion-icon name="skip-backward"></ion-icon></button>
			</ion-col>
			<ion-col col-sm-4 col-6>
				<button ion-button full color="light" (click)="indexPage()">{{ from }} to {{ to }} of {{ total }}</button>
			</ion-col>
			<ion-col col-sm-4 col-3>
				<button ion-button full icon-only color="light" [disabled]="!this.enabledNextBtn" (click)="nextPage()"><ion-icon name="skip-forward"></ion-icon></button>
			</ion-col>
		</ion-row>

		<ion-row *ngFor="let list_group of group;">
			<ion-col>
				<h4 *ngIf="this.current_group != list_group.city">
					{{ list_group.city }}
				</h4>
				<div *ngFor="let list of index;">
					<div *ngIf="list_group.city == list.city" class="border-list">
						<ion-row>
							<ion-col col-8>
								<p>
									<ion-chip>
										<ion-label>{{ list.status }}</ion-label>
									</ion-chip>
									<b>{{ list.project }}</b> - {{ list.name }}
								</p>
							</ion-col>
							<ion-col col-4>
								<div *ngIf="list.status == 'TAKEN'">
									<ion-row *ngIf="this.auth.hasAccess('undoTake-delivery')">
										<ion-col col-4>
											<button ion-button full icon-only small (click)="view(list.id)"><ion-icon name="eye"></ion-icon></button>
										</ion-col>
										<ion-col col-4>
											<button ion-button full color="success" icon-only small (click)="startSend(list.id)"><ion-icon name="paper-plane"></ion-icon></button>
										</ion-col>
										<ion-col col-4>
											<button ion-button full color="warning" icon-only small (click)="undoTake(list.id)">
												<ion-icon name="undo"></ion-icon>
											</button>
										</ion-col>
									</ion-row>

									<ion-row *ngIf="!this.auth.hasAccess('undoTake-delivery')">
										<ion-col col-6>
											<button ion-button full icon-only small (click)="view(list.id)"><ion-icon name="eye"></ion-icon></button>
										</ion-col>
										<ion-col col-6>
											<button ion-button full color="success" icon-only small (click)="startSend(list.id)"><ion-icon name="paper-plane"></ion-icon></button>
										</ion-col>
									</ion-row>
								</div>

								<div *ngIf="list.status == 'SENDING'">
									<ion-row>
										<ion-col col-4>
											<button ion-button full icon-only small (click)="view(list.id)"><ion-icon name="eye"></ion-icon></button>
										</ion-col>
										<ion-col col-4>
											<button ion-button full color="success" icon-only small (click)="finish(list.id)"><ion-icon name="checkmark"></ion-icon></button>
										</ion-col>
										<ion-col col-4>
											<button ion-button full color="warning" icon-only small (click)="undoStartSend(list.id)">
												<ion-icon name="undo"></ion-icon>
											</button>
										</ion-col>
									</ion-row>

								</div>

								<div *ngIf="list.status == 'FINISH'">
									<ion-row>
										<ion-col col-6>
											<button ion-button full icon-only small (click)="view(list.id)"><ion-icon name="eye"></ion-icon></button>
										</ion-col>

										<ion-col col-6>
											<button ion-button full color="warning" icon-only small (click)="undoFinish(list.id)">
												<ion-icon name="undo"></ion-icon>
											</button>
										</ion-col>
									</ion-row>

								</div>

								<div *ngIf="list.status == 'SUCCESS' || list.status == 'FAILED'">
									<ion-row>
										<ion-col col-12>
											<button ion-button full icon-only small (click)="view(list.id)"><ion-icon name="eye"></ion-icon></button>
										</ion-col>
									</ion-row>

								</div>
							</ion-col>
						</ion-row>
					</div>
				</div>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col col-sm-4 col-3>
				<button ion-button full icon-only color="light" [disabled]="!this.enabledPrevBtn" (click)="prevPage()"><ion-icon name="skip-backward"></ion-icon></button>
			</ion-col>
			<ion-col col-sm-4 col-6>
				<button ion-button full color="light" (click)="indexPage()">{{ from }} to {{ to }} of {{ total }}</button>
			</ion-col>
			<ion-col col-sm-4 col-3>
				<button ion-button full icon-only color="light" [disabled]="!this.enabledNextBtn" (click)="nextPage()"><ion-icon name="skip-forward"></ion-icon></button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
